/firmware/baseband/baseband_dtmf_tx.img
/firmware/baseband/baseband.img
/firmware/baseband/baseband_afsk.img
/firmware/baseband/baseband_ais.img
/firmware/baseband/baseband_am_audio.img
/firmware/baseband/baseband_audio_tx.img
/firmware/baseband/baseband_capture.img
/firmware/baseband/baseband_epar.img
/firmware/baseband/baseband_ert.img
/firmware/baseband/baseband_jammer.img
/firmware/baseband/baseband_lcr.img
/firmware/baseband/baseband_nfm_audio.img
/firmware/baseband/baseband_ook.img
/firmware/baseband/baseband_play_audio.img
/firmware/baseband/baseband_pocsag.img
/firmware/baseband/baseband_rds.img
/firmware/baseband/baseband_tpms.img
/firmware/baseband/baseband_wfm_audio.img
/firmware/baseband/baseband_wideband_spectrum.img
/firmware/baseband/baseband_xylos.img
/firmware/application/application.bin
/CMakeCache.txt
/Makefile
/firmware/baseband/Makefile
/firmware/bootstrap/Makefile
/firmware/application/portapack_cpld_data.cpp
/firmware/application/hackrf_cpld_data.cpp
/firmware/application/hackrf_cpld_data.hpp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/firmware/baseband/*.bin

# Other compiler/linker outputs
*.make
*.elf
*.map
*.lst
.dep/
build/
CMakeFiles/

# Debugging
.gdbinit*

# Host OS turds
.DS_Store
/firmware/CMakeCache.txt
