# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other compiler/linker outputs
*.elf
*.bin
*.map
*.lst
.dep/
build/

# Debugging
.gdbinit*

# Host OS turds
.DS_Store
